parameters:
	ignoreErrors:
		-
			message: "#^Method App\\\\Command\\\\AddOrderCommand\\:\\:__construct\\(\\) has parameter \\$items with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Command/AddOrderCommand.php

		-
			message: "#^Method App\\\\Command\\\\AddOrderCommand\\:\\:getItems\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Command/AddOrderCommand.php

		-
			message: "#^Cannot call method getId\\(\\) on mixed\\.$#"
			count: 1
			path: src/Command/SeedDatabaseCommand.php

		-
			message: "#^Cannot call method getName\\(\\) on mixed\\.$#"
			count: 1
			path: src/Command/SeedDatabaseCommand.php

		-
			message: "#^Cannot call method getPrice\\(\\) on mixed\\.$#"
			count: 1
			path: src/Command/SeedDatabaseCommand.php

		-
			message: "#^Parameter \\#1 \\$name of method App\\\\Entity\\\\Product\\:\\:setName\\(\\) expects string, array\\|string given\\.$#"
			count: 1
			path: src/Command/SeedDatabaseCommand.php

		-
			message: "#^Parameter \\#1 \\$price of method App\\\\Entity\\\\Product\\:\\:setPrice\\(\\) expects string, float given\\.$#"
			count: 1
			path: src/Command/SeedDatabaseCommand.php

		-
			message: "#^Parameter \\#1 \\$status of method App\\\\Entity\\\\Order\\:\\:setStatus\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: src/Command/SeedDatabaseCommand.php

		-
			message: "#^Parameter \\#1 \\$string of function mb_str_pad expects string, int\\<1, 10000\\> given\\.$#"
			count: 1
			path: src/Command/SeedDatabaseCommand.php

		-
			message: "#^Call to an undefined method object\\:\\:getName\\(\\)\\.$#"
			count: 1
			path: src/CommandHandler/AddOrderCommandHandler.php

		-
			message: "#^Call to an undefined method object\\:\\:getPrice\\(\\)\\.$#"
			count: 1
			path: src/CommandHandler/AddOrderCommandHandler.php

		-
			message: "#^Parameter \\#1 \\$price of method App\\\\Entity\\\\Product\\:\\:setPrice\\(\\) expects string, float given\\.$#"
			count: 1
			path: src/CommandHandler/AddProductCommandHandler.php

		-
			message: "#^Property App\\\\CommandHandler\\\\DeleteProductCommandHandler\\:\\:\\$summaryProjectionRepository is never read, only written\\.$#"
			count: 1
			path: src/CommandHandler/DeleteProductCommandHandler.php

		-
			message: "#^Method App\\\\CommandHandler\\\\GetCustomerCommandHandler\\:\\:__invoke\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/CommandHandler/GetCustomerCommandHandler.php

		-
			message: "#^Method App\\\\CommandHandler\\\\GetOrderCommandHandler\\:\\:__invoke\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/CommandHandler/GetOrderCommandHandler.php

		-
			message: "#^Method App\\\\CommandHandler\\\\GetProductCommandHandler\\:\\:__invoke\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/CommandHandler/GetProductCommandHandler.php

		-
			message: "#^Method App\\\\CommandHandler\\\\ListCustomersCommandHandler\\:\\:__invoke\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/CommandHandler/ListCustomersCommandHandler.php

		-
			message: "#^Method App\\\\CommandHandler\\\\ListOrdersCommandHandler\\:\\:__invoke\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/CommandHandler/ListOrdersCommandHandler.php

		-
			message: "#^Method App\\\\CommandHandler\\\\ListProductsCommandHandler\\:\\:__invoke\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/CommandHandler/ListProductsCommandHandler.php

		-
			message: "#^Call to an undefined method object\\:\\:setCreatedAt\\(\\)\\.$#"
			count: 1
			path: src/CommandHandler/UpdateProductCommandHandler.php

		-
			message: "#^Call to an undefined method object\\:\\:setDescription\\(\\)\\.$#"
			count: 1
			path: src/CommandHandler/UpdateProductCommandHandler.php

		-
			message: "#^Call to an undefined method object\\:\\:setName\\(\\)\\.$#"
			count: 1
			path: src/CommandHandler/UpdateProductCommandHandler.php

		-
			message: "#^Call to an undefined method object\\:\\:setPrice\\(\\)\\.$#"
			count: 1
			path: src/CommandHandler/UpdateProductCommandHandler.php

		-
			message: "#^Parameter \\#1 \\$product of method App\\\\Projection\\\\ProductProjectionService\\:\\:updateProjection\\(\\) expects App\\\\Entity\\\\Product, object given\\.$#"
			count: 1
			path: src/CommandHandler/UpdateProductCommandHandler.php

		-
			message: "#^Property App\\\\CommandHandler\\\\UpdateProductCommandHandler\\:\\:\\$summaryProjectionService is never read, only written\\.$#"
			count: 1
			path: src/CommandHandler/UpdateProductCommandHandler.php

		-
			message: "#^Cannot call method getResult\\(\\) on Symfony\\\\Component\\\\Messenger\\\\Stamp\\\\HandledStamp\\|null\\.$#"
			count: 2
			path: src/Controller/CustomerController.php

		-
			message: "#^Cannot call method toArray\\(\\) on mixed\\.$#"
			count: 1
			path: src/Controller/CustomerController.php

		-
			message: "#^Parameter \\#1 \\$datetime of class DateTimeImmutable constructor expects string, mixed given\\.$#"
			count: 1
			path: src/Controller/CustomerController.php

		-
			message: "#^Parameter \\#1 \\$name of class App\\\\Command\\\\AddCustomerCommand constructor expects string, mixed given\\.$#"
			count: 1
			path: src/Controller/CustomerController.php

		-
			message: "#^Parameter \\#1 \\$value of function count expects array\\|Countable, mixed given\\.$#"
			count: 1
			path: src/Controller/CustomerController.php

		-
			message: "#^Parameter \\#2 \\$array of function array_map expects array, mixed given\\.$#"
			count: 1
			path: src/Controller/CustomerController.php

		-
			message: "#^Parameter \\#2 \\$email of class App\\\\Command\\\\AddCustomerCommand constructor expects string, mixed given\\.$#"
			count: 1
			path: src/Controller/CustomerController.php

		-
			message: "#^Parameter \\#3 \\$address of class App\\\\Command\\\\AddCustomerCommand constructor expects string, mixed given\\.$#"
			count: 1
			path: src/Controller/CustomerController.php

		-
			message: "#^Parameter \\#4 \\$city of class App\\\\Command\\\\AddCustomerCommand constructor expects string, mixed given\\.$#"
			count: 1
			path: src/Controller/CustomerController.php

		-
			message: "#^Parameter \\#5 \\$postalCode of class App\\\\Command\\\\AddCustomerCommand constructor expects string, mixed given\\.$#"
			count: 1
			path: src/Controller/CustomerController.php

		-
			message: "#^Parameter \\#6 \\$country of class App\\\\Command\\\\AddCustomerCommand constructor expects string, mixed given\\.$#"
			count: 1
			path: src/Controller/CustomerController.php

		-
			message: "#^Cannot access offset 'accepted conn' on mixed\\.$#"
			count: 1
			path: src/Controller/Metrics/FpmStatusController.php

		-
			message: "#^Cannot access offset 'active processes' on mixed\\.$#"
			count: 1
			path: src/Controller/Metrics/FpmStatusController.php

		-
			message: "#^Cannot access offset 'idle processes' on mixed\\.$#"
			count: 1
			path: src/Controller/Metrics/FpmStatusController.php

		-
			message: "#^Cannot access offset 'listen queue len' on mixed\\.$#"
			count: 1
			path: src/Controller/Metrics/FpmStatusController.php

		-
			message: "#^Cannot access offset 'listen queue' on mixed\\.$#"
			count: 1
			path: src/Controller/Metrics/FpmStatusController.php

		-
			message: "#^Cannot access offset 'max active processes' on mixed\\.$#"
			count: 1
			path: src/Controller/Metrics/FpmStatusController.php

		-
			message: "#^Cannot access offset 'max children reached' on mixed\\.$#"
			count: 1
			path: src/Controller/Metrics/FpmStatusController.php

		-
			message: "#^Cannot access offset 'max listen queue' on mixed\\.$#"
			count: 1
			path: src/Controller/Metrics/FpmStatusController.php

		-
			message: "#^Cannot access offset 'pool' on mixed\\.$#"
			count: 2
			path: src/Controller/Metrics/FpmStatusController.php

		-
			message: "#^Cannot access offset 'process manager' on mixed\\.$#"
			count: 1
			path: src/Controller/Metrics/FpmStatusController.php

		-
			message: "#^Cannot access offset 'processes' on mixed\\.$#"
			count: 2
			path: src/Controller/Metrics/FpmStatusController.php

		-
			message: "#^Cannot access offset 'slow requests' on mixed\\.$#"
			count: 1
			path: src/Controller/Metrics/FpmStatusController.php

		-
			message: "#^Cannot access offset 'start since' on mixed\\.$#"
			count: 1
			path: src/Controller/Metrics/FpmStatusController.php

		-
			message: "#^Cannot access offset 'start time' on mixed\\.$#"
			count: 1
			path: src/Controller/Metrics/FpmStatusController.php

		-
			message: "#^Cannot access offset 'total processes' on mixed\\.$#"
			count: 1
			path: src/Controller/Metrics/FpmStatusController.php

		-
			message: "#^Method App\\\\Controller\\\\Metrics\\\\FpmStatusController\\:\\:formatMetric\\(\\) has parameter \\$labels with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Controller/Metrics/FpmStatusController.php

		-
			message: "#^Method App\\\\Controller\\\\Metrics\\\\FpmStatusController\\:\\:formatMetric\\(\\) has parameter \\$value with no type specified\\.$#"
			count: 1
			path: src/Controller/Metrics/FpmStatusController.php

		-
			message: "#^Method App\\\\Controller\\\\Metrics\\\\OpcacheController\\:\\:formatMetric\\(\\) has parameter \\$value with no type specified\\.$#"
			count: 1
			path: src/Controller/Metrics/OpcacheController.php

		-
			message: "#^Cannot call method getResult\\(\\) on Symfony\\\\Component\\\\Messenger\\\\Stamp\\\\HandledStamp\\|null\\.$#"
			count: 2
			path: src/Controller/OrderController.php

		-
			message: "#^Cannot call method toArray\\(\\) on mixed\\.$#"
			count: 1
			path: src/Controller/OrderController.php

		-
			message: "#^Parameter \\#1 \\$value of function count expects array\\|Countable, mixed given\\.$#"
			count: 1
			path: src/Controller/OrderController.php

		-
			message: "#^Parameter \\#2 \\$array of function array_map expects array, mixed given\\.$#"
			count: 1
			path: src/Controller/OrderController.php

		-
			message: "#^Call to an undefined method object\\:\\:getCreatedAt\\(\\)\\.$#"
			count: 2
			path: src/Controller/ProductController.php

		-
			message: "#^Call to an undefined method object\\:\\:getDescription\\(\\)\\.$#"
			count: 2
			path: src/Controller/ProductController.php

		-
			message: "#^Call to an undefined method object\\:\\:getId\\(\\)\\.$#"
			count: 2
			path: src/Controller/ProductController.php

		-
			message: "#^Call to an undefined method object\\:\\:getName\\(\\)\\.$#"
			count: 2
			path: src/Controller/ProductController.php

		-
			message: "#^Call to an undefined method object\\:\\:getPrice\\(\\)\\.$#"
			count: 2
			path: src/Controller/ProductController.php

		-
			message: "#^Cannot call method getResult\\(\\) on Symfony\\\\Component\\\\Messenger\\\\Stamp\\\\HandledStamp\\|null\\.$#"
			count: 2
			path: src/Controller/ProductController.php

		-
			message: "#^Cannot call method toArray\\(\\) on mixed\\.$#"
			count: 1
			path: src/Controller/ProductController.php

		-
			message: "#^Parameter \\#1 \\$value of function count expects array\\|Countable, mixed given\\.$#"
			count: 1
			path: src/Controller/ProductController.php

		-
			message: "#^Parameter \\#2 \\$array of function array_map expects array, mixed given\\.$#"
			count: 1
			path: src/Controller/ProductController.php

		-
			message: "#^Parameter \\#1 \\$name of method App\\\\Entity\\\\Product\\:\\:setName\\(\\) expects string, array\\|string given\\.$#"
			count: 1
			path: src/DataFixtures/ProductFixtures.php

		-
			message: "#^Parameter \\#1 \\$price of method App\\\\Entity\\\\Product\\:\\:setPrice\\(\\) expects string, float given\\.$#"
			count: 1
			path: src/DataFixtures/ProductFixtures.php

		-
			message: "#^Property App\\\\Entity\\\\Comment\\:\\:\\$author type mapping mismatch\\: property can contain App\\\\Entity\\\\User\\|null but database expects App\\\\Entity\\\\User\\.$#"
			count: 1
			path: src/Entity/Comment.php

		-
			message: "#^Property App\\\\Entity\\\\Comment\\:\\:\\$content type mapping mismatch\\: property can contain string\\|null but database expects string\\.$#"
			count: 1
			path: src/Entity/Comment.php

		-
			message: "#^Property App\\\\Entity\\\\Comment\\:\\:\\$post type mapping mismatch\\: property can contain App\\\\Entity\\\\Post\\|null but database expects App\\\\Entity\\\\Post\\.$#"
			count: 1
			path: src/Entity/Comment.php

		-
			message: "#^Property App\\\\Entity\\\\Customer\\:\\:\\$address type mapping mismatch\\: property can contain string\\|null but database expects string\\.$#"
			count: 1
			path: src/Entity/Customer.php

		-
			message: "#^Property App\\\\Entity\\\\Customer\\:\\:\\$city type mapping mismatch\\: property can contain string\\|null but database expects string\\.$#"
			count: 1
			path: src/Entity/Customer.php

		-
			message: "#^Property App\\\\Entity\\\\Customer\\:\\:\\$country type mapping mismatch\\: property can contain string\\|null but database expects string\\.$#"
			count: 1
			path: src/Entity/Customer.php

		-
			message: "#^Property App\\\\Entity\\\\Customer\\:\\:\\$createdAt type mapping mismatch\\: property can contain DateTimeImmutable\\|null but database expects DateTimeImmutable\\.$#"
			count: 1
			path: src/Entity/Customer.php

		-
			message: "#^Property App\\\\Entity\\\\Customer\\:\\:\\$email type mapping mismatch\\: property can contain string\\|null but database expects string\\.$#"
			count: 1
			path: src/Entity/Customer.php

		-
			message: "#^Property App\\\\Entity\\\\Customer\\:\\:\\$name type mapping mismatch\\: property can contain string\\|null but database expects string\\.$#"
			count: 1
			path: src/Entity/Customer.php

		-
			message: "#^Property App\\\\Entity\\\\Customer\\:\\:\\$postalCode type mapping mismatch\\: property can contain string\\|null but database expects string\\.$#"
			count: 1
			path: src/Entity/Customer.php

		-
			message: "#^Method App\\\\Entity\\\\Order\\:\\:addItem\\(\\) has parameter \\$item with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Entity/Order.php

		-
			message: "#^Method App\\\\Entity\\\\Order\\:\\:getItems\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Entity/Order.php

		-
			message: "#^Method App\\\\Entity\\\\Order\\:\\:setItems\\(\\) has parameter \\$items with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Entity/Order.php

		-
			message: "#^Property App\\\\Entity\\\\Order\\:\\:\\$createdAt type mapping mismatch\\: property can contain DateTimeImmutable\\|null but database expects DateTimeImmutable\\.$#"
			count: 1
			path: src/Entity/Order.php

		-
			message: "#^Property App\\\\Entity\\\\Order\\:\\:\\$customer type mapping mismatch\\: property can contain App\\\\Entity\\\\Customer\\|null but database expects App\\\\Entity\\\\Customer\\.$#"
			count: 1
			path: src/Entity/Order.php

		-
			message: "#^Property App\\\\Entity\\\\Order\\:\\:\\$items type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Entity/Order.php

		-
			message: "#^Property App\\\\Entity\\\\Order\\:\\:\\$orderNumber type mapping mismatch\\: property can contain string\\|null but database expects string\\.$#"
			count: 1
			path: src/Entity/Order.php

		-
			message: "#^Property App\\\\Entity\\\\Order\\:\\:\\$status type mapping mismatch\\: property can contain string\\|null but database expects string\\.$#"
			count: 1
			path: src/Entity/Order.php

		-
			message: "#^Property App\\\\Entity\\\\Order\\:\\:\\$totalAmount type mapping mismatch\\: property can contain string\\|null but database expects float\\|int\\|string\\.$#"
			count: 1
			path: src/Entity/Order.php

		-
			message: "#^Property App\\\\Entity\\\\Post\\:\\:\\$author type mapping mismatch\\: property can contain App\\\\Entity\\\\User\\|null but database expects App\\\\Entity\\\\User\\.$#"
			count: 1
			path: src/Entity/Post.php

		-
			message: "#^Property App\\\\Entity\\\\Post\\:\\:\\$content type mapping mismatch\\: property can contain string\\|null but database expects string\\.$#"
			count: 1
			path: src/Entity/Post.php

		-
			message: "#^Property App\\\\Entity\\\\Post\\:\\:\\$slug type mapping mismatch\\: property can contain string\\|null but database expects string\\.$#"
			count: 1
			path: src/Entity/Post.php

		-
			message: "#^Property App\\\\Entity\\\\Post\\:\\:\\$summary type mapping mismatch\\: property can contain string\\|null but database expects string\\.$#"
			count: 1
			path: src/Entity/Post.php

		-
			message: "#^Property App\\\\Entity\\\\Post\\:\\:\\$title type mapping mismatch\\: property can contain string\\|null but database expects string\\.$#"
			count: 1
			path: src/Entity/Post.php

		-
			message: "#^Property App\\\\Entity\\\\Product\\:\\:\\$createdAt type mapping mismatch\\: property can contain DateTimeImmutable\\|null but database expects DateTimeImmutable\\.$#"
			count: 1
			path: src/Entity/Product.php

		-
			message: "#^Property App\\\\Entity\\\\Product\\:\\:\\$description type mapping mismatch\\: property can contain string\\|null but database expects string\\.$#"
			count: 1
			path: src/Entity/Product.php

		-
			message: "#^Property App\\\\Entity\\\\Product\\:\\:\\$name type mapping mismatch\\: property can contain string\\|null but database expects string\\.$#"
			count: 1
			path: src/Entity/Product.php

		-
			message: "#^Property App\\\\Entity\\\\Product\\:\\:\\$price type mapping mismatch\\: property can contain string\\|null but database expects float\\|int\\|string\\.$#"
			count: 1
			path: src/Entity/Product.php

		-
			message: "#^Method App\\\\Entity\\\\User\\:\\:getUserIdentifier\\(\\) should return non\\-empty\\-string but returns string\\.$#"
			count: 1
			path: src/Entity/User.php

		-
			message: "#^Property App\\\\Entity\\\\User\\:\\:\\$email type mapping mismatch\\: property can contain string\\|null but database expects string\\.$#"
			count: 1
			path: src/Entity/User.php

		-
			message: "#^Property App\\\\Entity\\\\User\\:\\:\\$fullName type mapping mismatch\\: property can contain string\\|null but database expects string\\.$#"
			count: 1
			path: src/Entity/User.php

		-
			message: "#^Property App\\\\Entity\\\\User\\:\\:\\$password type mapping mismatch\\: property can contain string\\|null but database expects string\\.$#"
			count: 1
			path: src/Entity/User.php

		-
			message: "#^Property App\\\\Entity\\\\User\\:\\:\\$username type mapping mismatch\\: property can contain string\\|null but database expects string\\.$#"
			count: 1
			path: src/Entity/User.php

		-
			message: "#^Method App\\\\Projection\\\\CustomerProjection\\:\\:toArray\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Projection/CustomerProjection.php

		-
			message: "#^Parameter \\#1 \\$id of class App\\\\Projection\\\\CustomerProjection constructor expects int, int\\|null given\\.$#"
			count: 1
			path: src/Projection/CustomerProjectionBuilder.php

		-
			message: "#^Parameter \\#2 \\$name of class App\\\\Projection\\\\CustomerProjection constructor expects string, string\\|null given\\.$#"
			count: 1
			path: src/Projection/CustomerProjectionBuilder.php

		-
			message: "#^Parameter \\#3 \\$email of class App\\\\Projection\\\\CustomerProjection constructor expects string, string\\|null given\\.$#"
			count: 1
			path: src/Projection/CustomerProjectionBuilder.php

		-
			message: "#^Parameter \\#4 \\$address of class App\\\\Projection\\\\CustomerProjection constructor expects string, string\\|null given\\.$#"
			count: 1
			path: src/Projection/CustomerProjectionBuilder.php

		-
			message: "#^Parameter \\#5 \\$city of class App\\\\Projection\\\\CustomerProjection constructor expects string, string\\|null given\\.$#"
			count: 1
			path: src/Projection/CustomerProjectionBuilder.php

		-
			message: "#^Parameter \\#6 \\$postalCode of class App\\\\Projection\\\\CustomerProjection constructor expects string, string\\|null given\\.$#"
			count: 1
			path: src/Projection/CustomerProjectionBuilder.php

		-
			message: "#^Parameter \\#7 \\$country of class App\\\\Projection\\\\CustomerProjection constructor expects string, string\\|null given\\.$#"
			count: 1
			path: src/Projection/CustomerProjectionBuilder.php

		-
			message: "#^Parameter \\#8 \\$createdAt of class App\\\\Projection\\\\CustomerProjection constructor expects DateTimeImmutable, DateTimeImmutable\\|null given\\.$#"
			count: 1
			path: src/Projection/CustomerProjectionBuilder.php

		-
			message: "#^Method App\\\\Projection\\\\CustomerProjectionRepository\\:\\:buildFromArray\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Projection/CustomerProjectionRepository.php

		-
			message: "#^Method App\\\\Projection\\\\CustomerProjectionRepository\\:\\:findAll\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Projection/CustomerProjectionRepository.php

		-
			message: "#^Parameter \\#1 \\$data of method App\\\\Projection\\\\CustomerProjectionRepository\\:\\:buildFromArray\\(\\) expects array, mixed given\\.$#"
			count: 2
			path: src/Projection/CustomerProjectionRepository.php

		-
			message: "#^Parameter \\#2 \\$member of method Predis\\\\ClientInterface\\:\\:srem\\(\\) expects array\\|string, int given\\.$#"
			count: 1
			path: src/Projection/CustomerProjectionRepository.php

		-
			message: "#^Parameter \\#2 \\$members of method Predis\\\\ClientInterface\\:\\:sadd\\(\\) expects array, int given\\.$#"
			count: 1
			path: src/Projection/CustomerProjectionRepository.php

		-
			message: "#^Method App\\\\Projection\\\\OrderProjection\\:\\:__construct\\(\\) has parameter \\$items with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Projection/OrderProjection.php

		-
			message: "#^Method App\\\\Projection\\\\OrderProjection\\:\\:getItems\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Projection/OrderProjection.php

		-
			message: "#^Method App\\\\Projection\\\\OrderProjection\\:\\:toArray\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Projection/OrderProjection.php

		-
			message: "#^Cannot call method getId\\(\\) on App\\\\Entity\\\\Customer\\|null\\.$#"
			count: 1
			path: src/Projection/OrderProjectionBuilder.php

		-
			message: "#^Cannot call method getName\\(\\) on App\\\\Entity\\\\Customer\\|null\\.$#"
			count: 1
			path: src/Projection/OrderProjectionBuilder.php

		-
			message: "#^Parameter \\#1 \\$id of class App\\\\Projection\\\\OrderProjection constructor expects int, int\\|null given\\.$#"
			count: 1
			path: src/Projection/OrderProjectionBuilder.php

		-
			message: "#^Parameter \\#2 \\$customerId of class App\\\\Projection\\\\OrderProjection constructor expects int, int\\|null given\\.$#"
			count: 1
			path: src/Projection/OrderProjectionBuilder.php

		-
			message: "#^Parameter \\#3 \\$customerName of class App\\\\Projection\\\\OrderProjection constructor expects string, string\\|null given\\.$#"
			count: 1
			path: src/Projection/OrderProjectionBuilder.php

		-
			message: "#^Parameter \\#4 \\$orderNumber of class App\\\\Projection\\\\OrderProjection constructor expects string, string\\|null given\\.$#"
			count: 1
			path: src/Projection/OrderProjectionBuilder.php

		-
			message: "#^Parameter \\#5 \\$totalAmount of class App\\\\Projection\\\\OrderProjection constructor expects string, string\\|null given\\.$#"
			count: 1
			path: src/Projection/OrderProjectionBuilder.php

		-
			message: "#^Parameter \\#6 \\$status of class App\\\\Projection\\\\OrderProjection constructor expects string, string\\|null given\\.$#"
			count: 1
			path: src/Projection/OrderProjectionBuilder.php

		-
			message: "#^Parameter \\#8 \\$createdAt of class App\\\\Projection\\\\OrderProjection constructor expects DateTimeImmutable, DateTimeImmutable\\|null given\\.$#"
			count: 1
			path: src/Projection/OrderProjectionBuilder.php

		-
			message: "#^Method App\\\\Projection\\\\OrderProjectionRepository\\:\\:buildFromArray\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Projection/OrderProjectionRepository.php

		-
			message: "#^Method App\\\\Projection\\\\OrderProjectionRepository\\:\\:findAll\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Projection/OrderProjectionRepository.php

		-
			message: "#^Method App\\\\Projection\\\\OrderProjectionRepository\\:\\:findByCustomer\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Projection/OrderProjectionRepository.php

		-
			message: "#^Parameter \\#1 \\$data of method App\\\\Projection\\\\OrderProjectionRepository\\:\\:buildFromArray\\(\\) expects array, mixed given\\.$#"
			count: 3
			path: src/Projection/OrderProjectionRepository.php

		-
			message: "#^Parameter \\#2 \\$member of method Predis\\\\ClientInterface\\:\\:srem\\(\\) expects array\\|string, int given\\.$#"
			count: 2
			path: src/Projection/OrderProjectionRepository.php

		-
			message: "#^Parameter \\#2 \\$members of method Predis\\\\ClientInterface\\:\\:sadd\\(\\) expects array, int given\\.$#"
			count: 2
			path: src/Projection/OrderProjectionRepository.php

		-
			message: "#^Method App\\\\Projection\\\\ProductProjection\\:\\:toArray\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Projection/ProductProjection.php

		-
			message: "#^Parameter \\#1 \\$id of class App\\\\Projection\\\\ProductProjection constructor expects int, int\\|null given\\.$#"
			count: 1
			path: src/Projection/ProductProjectionBuilder.php

		-
			message: "#^Parameter \\#2 \\$name of class App\\\\Projection\\\\ProductProjection constructor expects string, string\\|null given\\.$#"
			count: 1
			path: src/Projection/ProductProjectionBuilder.php

		-
			message: "#^Parameter \\#3 \\$description of class App\\\\Projection\\\\ProductProjection constructor expects string, string\\|null given\\.$#"
			count: 1
			path: src/Projection/ProductProjectionBuilder.php

		-
			message: "#^Parameter \\#4 \\$price of class App\\\\Projection\\\\ProductProjection constructor expects float, string\\|null given\\.$#"
			count: 1
			path: src/Projection/ProductProjectionBuilder.php

		-
			message: "#^Parameter \\#5 \\$createdAt of class App\\\\Projection\\\\ProductProjection constructor expects DateTimeImmutable, DateTimeImmutable\\|null given\\.$#"
			count: 1
			path: src/Projection/ProductProjectionBuilder.php

		-
			message: "#^Method App\\\\Projection\\\\ProductProjectionRepository\\:\\:find\\(\\) should return App\\\\Projection\\\\ProductProjection\\|null but returns mixed\\.$#"
			count: 1
			path: src/Projection/ProductProjectionRepository.php

		-
			message: "#^Method App\\\\Projection\\\\ProductProjectionRepository\\:\\:findAll\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Projection/ProductProjectionRepository.php

		-
			message: "#^Parameter \\#2 \\$member of method Predis\\\\ClientInterface\\:\\:srem\\(\\) expects array\\|string, int given\\.$#"
			count: 1
			path: src/Projection/ProductProjectionRepository.php

		-
			message: "#^Parameter \\#1 \\$product of method App\\\\Projection\\\\ProductProjectionBuilder\\:\\:build\\(\\) expects App\\\\Entity\\\\Product, object given\\.$#"
			count: 1
			path: src/Projection/ProductProjectionService.php

		-
			message: "#^Method App\\\\Projection\\\\ProductSummaryProjection\\:\\:fromArray\\(\\) has parameter \\$data with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Projection/ProductSummaryProjection.php

		-
			message: "#^Method App\\\\Projection\\\\ProductSummaryProjection\\:\\:toArray\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Projection/ProductSummaryProjection.php

		-
			message: "#^Method App\\\\Projection\\\\ProductSummaryProjectionBuilder\\:\\:getAllProductIds\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Projection/ProductSummaryProjectionBuilder.php

		-
			message: "#^Method App\\\\Projection\\\\ProductSummaryProjectionBuilder\\:\\:getProductSummaryData\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Projection/ProductSummaryProjectionBuilder.php

		-
			message: "#^Method App\\\\Projection\\\\ProductSummaryProjectionRepository\\:\\:findAll\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Projection/ProductSummaryProjectionRepository.php

		-
			message: "#^Parameter \\#2 \\$member of method Predis\\\\ClientInterface\\:\\:srem\\(\\) expects array\\|string, int given\\.$#"
			count: 1
			path: src/Projection/ProductSummaryProjectionRepository.php

		-
			message: "#^Class App\\\\Repository\\\\ProductRepository extends generic class Doctrine\\\\Bundle\\\\DoctrineBundle\\\\Repository\\\\ServiceEntityRepository but does not specify its types\\: TEntityClass$#"
			count: 1
			path: src/Repository/ProductRepository.php

		-
			message: "#^Parameter \\#1 \\$function of class ReflectionFunction constructor expects Closure\\|string, callable\\(\\)\\: mixed given\\.$#"
			count: 1
			path: src/Twig/SourceCodeExtension.php
